<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body style="text-align: center">
    <h3 style="color: royalblue">Change Password</h3>
    <h4><%= message %></h4>
    <form action="/company/change-password/<%= company.id %>" method="POST">
        Old Password:<br>
        <input type="text" name="oldPass" value="<%= company.oldPass %>">
        <br>
        New Password:<br>
        <input type="text" name="newPass" value="<%= company.newPass %>">
        <br>
        Re-Type New Password:<br>
        <input type="text" name="RTNewPass" value="<%= company.RTypeNewPass %>"
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      <br><br>
      <h4><a href="/company">Cancel</a></h4>
</body>
</html>