<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body style="text-align: center">
    <h2 style="color: royalblue">Edit Your Profile</h2>
    <h4><%= message %></h4>
    <form action="/company/edit-profile" method="POST">
        Name:<br>
        <input type="text" name="name" value="<%= company[0].name %>">
        <br>
        About Us:<br>
        <input type="text" name="about_me" value="<%= company[0].about_me%>">
        <br>
        Address:<br>
        <input type="text" name="address" value="<%= company[0].address %>">
        <br>
        City:<br>
        <input type="text" name="city" value="<%= company[0].city %>">
        <br>
        Province:<br>
        <input type="text" name="province" value="<%= company[0].province %>">
        <br>
        Email:<br>
        <input type="text" name="email" value="<%= company[0].email %>">
        <br>
        Category:<br>
        <input type="text" name="category" value="<%= company[0].category %>">
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      <br><br>
</body>
</html>