<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body style="text-align: center">
    <h3 style="color: royalblue">Change Password</h3>
    <h4><%= message %></h4>
    <form action="/user/change-password/<%= user.id %>" method="POST">
        Old Password:<br>
        <input type="text" name="oldPass" value="<%= user.oldPass %>">
        <br>
        New Password:<br>
        <input type="text" name="newPass" value="<%= user.newPass %>">
        <br>
        Re-Type New Password:<br>
        <input type="text" name="RTNewPass" value="<%= user.RTypeNewPass %>"
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      <br><br>
      <h4><a href="/user">Cancel</a></h4>
</body>
</html>