<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body style="text-align: center">
    <h3 style="color: royalblue">Change Password</h3>
    <h4><%= message %></h4>
    <form action="/users/change-password/<%= user.id %>" method="POST">
        Old Password:<br>
        <input type="password" name="oldPass" value="<%= user.oldPass %>">
        <br>
        New Password:<br>
        <input type="password" name="newPass" value="<%= user.newPass %>">
        <br>
        Re-Type New Password:<br>
        <input type="password" name="RTNewPass" value="<%= user.RTypeNewPass %>"
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      <br><br>
      <h4><a href="/users">Cancel</a></h4>
</body>

</html>